<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki wyszukiwania lokali -  kebAPPka</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="lokale_header">
        <span class="lokale_header">kebAPPka</span>
    </header>

    
    <div class="sort-container">
        <div style="flex: 1;"></div> 
        <div style="flex: 1;"></div> 
        <button class="district-change-btn">Zmień dzielnicę</button>
        <div style="flex: 1;"></div> 
                <div class="sorting-wrapper">
                    <label for="sorting-options" class="sort-label">Sortuj według:</label>
                    <select id="sorting-options" class="sorting-options">
                    <option value="alphabetical">Alfabetycznie</option>
                    <option value="rating_high_to_low">Ocena: od najwyższej</option>
                    <option value="rating_low_to_high">Ocena: od najniższej</option>
                    <option value="nearest">Najbliższe</option>
                    </select>
                </div>
            </div>
            <input type="search" class="food-search" placeholder="Miejsca i produkty...">
    </div>
    <div class="search-results-label">Wyniki wyszukiwania dla: <span class="search-query">TUTAJ WYPISYWAC DZIELNICE</span></div>
        
    <div class="angled-rectangle-lokale">
        <div class="filtruj-text">
            Filtruj:
        </div>
    </div>

    <div class="konkretny-lokal">
        <a href="szczegoly_lokalu.html" class="centered-text-lokal">NAZWA LOKALU</a>
    </div>

    <div class="pagination-container">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    
</body>
</html>