<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kebAPPka - Szczegóły Lokalu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="logo">
        <span class="lokale_header">{{ lokal_data[0] }}</span>
        <div class="button_container">
            {% if username %}
                <span class="welcome-message">Witaj, {{ username }}!</span>
                <form method="post" action="{{ url_for('logout') }}">
                    <button type="submit" class="logout-button">Wyloguj się</button>
                </form>
            {% else %}
                <a class="cta" href="{{ url_for('login') }}"><button class="log_in">ZALOGUJ SIĘ</button></a>
                <a class="cta" href="{{ url_for('register') }}"><button class="register">ZAREJESTRUJ SIĘ</button></a>
            {% endif %}
        </div>
    </header>

    <div class="angled-rectangle-szczegoly">
        <div class="ocena-lokale-szczegoly">
            Ocena lokalu: {{ lokal_data[2] }}
        </div>

        <div class="promocje-lokale-szczegoly">
            Sprawdź nasze promocje!
        </div>

        <div class="recenzje-lokale-szczegoly">
            Zrecenzuj nasz lokal
        </div>
    </div>   
    
    <div class="nasze-menu-lokale-szczegoly">
        Nasze menu:
    </div>

    <div class="angled-rectangle-szczegoly2">
        <div class="pozycja-menu">
        </div>
    </div>

    <div class="pagination-container-szczegoly-lokalu">
        <div class="pagination-szczegoly-lokalu">
            <a class="pagination-strzalka" href="#">&laquo;</a>
            <a class="szczegoly-lokalu-active" href="#">1</a>
            <a class="pagination-numerek" href="#">2</a>
            <a class="pagination-numerek" href="#">3</a>
            <a class="pagination-numerek" href="#">4</a>
            <a class="pagination-numerek" href="#">5</a>
            <a class="pagination-numerek" href="#">6</a>
            <a class="pagination-strzalka" href="#">&raquo;</a>
        </div>
    </div>

    <!-- <footer class="footer-szczegoly-lokali">
        
    </footer> -->
</body>
</html>
